# 每日股價爬蟲！

今天我們要來建立一個股票爬蟲，最後的成品如下：

In [8]:
import requests
import pandas as pd
from io import StringIO

def crawl_price(date):
    
    # 將 date 變成字串 舉例：'20180525' 
    datestr = date.strftime('%Y%m%d')
    
    # 從網站上依照 datestr 將指定日期的股價抓下來
    r = requests.post('http://www.twse.com.tw/exchangeReport/MI_INDEX?response=csv&date=' + datestr + '&type=ALLBUT0999')
    
    # 將抓下來的資料（r.text），其中的等號給刪除
    content = r.text.replace('=', '')
    
    # 將 column 數量小於等於 10 的行數都刪除
    lines = content.split('\n')
    lines = list(filter(lambda l:len(l.split('",')) > 10, lines))
    
    # 將每一行再合成同一行，並用肉眼看不到的換行符號'\n'分開
    content = "\n".join(lines)
    
    # 假如沒下載到，則回傳None（代表抓不到資料）
    if content == '':
        return None
    
    # 將content變成檔案：StringIO，並且用pd.read_csv將表格讀取進來
    df = pd.read_csv(StringIO(content))
    
    # 將表格中的元素都換成字串，並把其中的逗號刪除
    df = df.astype(str)
    df = df.apply(lambda s: s.str.replace(',', ''))
    
    # 將爬取的日期存入 dataframe
    df['date'] = pd.to_datetime(date)
    
    # 將「證券代號」的欄位改名成「stock_id」
    df = df.rename(columns={'證券代號':'stock_id'})
    
    # 將 「stock_id」與「date」設定成index 
    df = df.set_index(['stock_id', 'date'])
    
    # 將所有的表格元素都轉換成數字，error='coerce'的意思是說，假如無法轉成數字，則用 NaN 取代
    df = df.apply(lambda s:pd.to_numeric(s, errors='coerce'))
    
    # 刪除不必要的欄位
    df = df[df.columns[df.isnull().all() == False]]
    
    return df


import datetime
crawl_price(datetime.datetime(2019,12,20))

,,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比
stock_id,date,,,,,,,,,,,,,
0050,2019-12-20,3353485,2393,325788665,97.55,97.55,96.70,96.95,0.70,96.90,93.0,96.95,589.0,0.00
0051,2019-12-20,14100,7,493820,35.01,35.03,35.00,35.00,0.10,35.00,9.0,35.03,6.0,0.00
0052,2019-12-20,119562,44,8653413,72.80,72.80,72.00,72.20,0.70,72.20,1.0,72.45,1.0,0.00
0053,2019-12-20,7081,8,299266,42.12,42.33,42.12,42.31,0.19,42.06,1.0,42.26,4.0,0.00
0054,2019-12-20,4000,2,98060,24.50,24.52,24.50,24.52,0.02,24.50,1.0,24.60,11.0,0.00
0055,2019-12-20,20000,17,380170,18.96,19.04,18.96,19.00,0.01,19.00,1.0,19.04,5.0,0.00
0056,2019-12-20,7772041,3317,223767890,28.73,28.90,28.66,28.80,0.11,28.79,57.0,28.80,244.0,0.00
0057,2019-12-20,22000,4,1354750,61.35,61.60,61.35,61.60,0.30,61.00,20.0,61.50,20.0,0.00
0059,2019-12-20,0,0,0,NaN,NaN,NaN,NaN,0.00,49.61,20.0,49.89,1.0,0.00
0061,2019-12-20,502325,191,9241403,18.36,18.44,18.35,18.36,0.02,18.36,12.0,18.38,1.0,0.00
006203,2019-12-20,0,0,0,NaN,NaN,NaN,NaN,0.00,45.01,2.0,45.25,5.0,0.00
006204,2019-12-20,40026,3,2393554,59.80,59.80,59.80,59.80,0.10,59.45,50.0,59.65,50.0,0.00
006205,2019-12-20,1479424,249,46511165,31.36,31.50,31.32,31.40,0.10,31.39,2.0,31.41,53.0,0.00
006206,2019-12-20,152409,74,5041451,32.91,33.17,32.91,33.12,0.15,33.12,12.0,33.13,52.0,0.00
006207,2019-12-20,275947,179,6618216,23.98,24.06,23.96,23.97,0.04,23.96,55.0,23.97,1.0,0.00
006208,2019-12-20,519672,315,27905164,54.00,54.00,53.45,53.70,0.30,53.65,14.0,53.70,58.0,0.00
00625K,2019-12-20,50000,2,364500,7.29,7.29,7.29,7.29,0.03,7.14,5.0,7.29,5.0,0.00
00631L,2019-12-20,1354042,451,72625401,54.05,54.05,53.15,53.55,0.35,53.50,25.0,53.55,194.0,0.00
00632R,2019-12-20,31705316,4027,317356020,9.98,10.05,9.97,10.01,0.02,10.01,16535.0,10.02,706.0,0.00
00633L,2019-12-20,7835600,1721,387764585,49.47,49.75,49.25,49.36,0.19,49.35,7.0,49.36,5.0,0.00
00634R,2019-12-20,278000,54,1591370,5.74,5.74,5.71,5.72,0.03,5.72,199.0,5.73,20.0,0.00
00635U,2019-12-20,563100,151,11951630,21.25,21.25,21.21,21.24,0.03,21.23,14.0,21.24,177.0,0.00
00636,2019-12-20,2383000,310,52348455,21.95,22.04,21.92,21.92,0.02,21.91,300.0,21.92,39.0,0.00
00636K,2019-12-20,100,1,730,7.30,7.30,7.30,7.30,0.02,7.24,8.0,7.32,19.0,0.00
00637L,2019-12-20,95048995,6107,1808222155,19.00,19.12,18.93,18.95,0.06,18.95,950.0,18.96,5.0,0.00
00638R,2019-12-20,483000,75,5549930,11.50,11.53,11.48,11.49,0.05,11.49,148.0,11.51,50.0,0.00
00639,2019-12-20,1804638,202,20004050,11.06,11.11,11.05,11.06,0.03,11.06,348.0,11.07,9.0,0.00
00640L,2019-12-20,483000,33,11083400,22.87,23.02,22.76,22.99,0.04,22.92,50.0,22.96,70.0,0.00
00641R,2019-12-20,191000,17,2575110,13.50,13.52,13.45,13.49,0.04,13.46,102.0,13.49,50.0,0.00
00642U,2019-12-20,1586571,504,28279232,17.82,17.84,17.81,17.83,0.10,17.83,94.0,17.84,210.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9912,2019-12-20,27407,23,219979,7.95,8.08,7.95,8.08,0.08,8.00,12.0,8.06,3.0,0.00
9914,2019-12-20,583460,467,102189040,174.50,176.00,172.00,175.50,2.50,175.50,44.0,176.00,17.0,21.86
9917,2019-12-20,530808,261,46309095,88.40,88.90,87.00,87.00,1.40,87.00,7.0,87.90,98.0,17.94
9918,2019-12-20,33012,20,1123108,34.05,34.20,34.00,34.20,0.30,34.00,1.0,34.20,7.0,24.08
9919,2019-12-20,976217,368,9859911,10.20,10.25,10.00,10.05,0.15,10.05,49.0,10.10,9.0,0.00
9921,2019-12-20,919674,550,194869566,212.50,213.00,210.00,213.00,4.00,212.50,5.0,213.00,56.0,22.49
9924,2019-12-20,114502,91,5031138,43.85,44.10,43.85,43.95,0.05,43.95,1.0,44.00,2.0,9.47
9925,2019-12-20,53558,46,2007824,37.50,37.50,37.45,37.50,0.05,37.45,4.0,37.50,15.0,18.66
9926,2019-12-20,3000,3,125000,41.60,41.80,41.60,41.80,0.10,41.60,4.0,41.85,1.0,19.90
9927,2019-12-20,98681,74,3190009,32.25,32.40,32.20,32.35,0.10,32.30,20.0,32.35,12.0,14.31
9928,2019-12-20,5006,4,23878,4.77,4.77,4.77,4.77,0.13,4.78,2.0,4.87,3.0,0.00
9929,2019-12-20,614206,29,7790678,12.75,13.10,12.00,13.10,0.15,13.00,2.0,13.05,4.0,0.00
9930,2019-12-20,102293,88,5155035,50.10,50.60,50.10,50.40,0.10,50.40,4.0,50.50,1.0,14.08
9931,2019-12-20,0,0,0,NaN,NaN,NaN,NaN,0.00,35.65,3.0,36.00,10.0,19.25
9933,2019-12-20,1794990,1344,67835869,38.10,38.10,37.60,37.60,0.35,37.60,188.0,37.85,4.0,27.25
9934,2019-12-20,303900,185,5270158,17.40,17.40,17.30,17.35,0.05,17.30,272.0,17.35,10.0,9.18
9935,2019-12-20,631483,388,25519816,41.40,41.40,40.10,40.15,0.75,40.15,12.0,40.35,13.0,24.78
9937,2019-12-20,17100,18,745250,43.50,43.65,43.50,43.55,0.05,43.45,3.0,43.50,1.0,18.30
9938,2019-12-20,3379004,2281,277021021,81.80,82.80,80.80,82.10,1.10,82.10,22.0,82.20,1.0,15.88
9939,2019-12-20,2875792,1345,174750869,60.20,61.30,60.00,60.40,0.20,60.30,56.0,60.40,47.0,14.55
9940,2019-12-20,147254,96,4629897,31.55,31.55,31.40,31.40,0.20,31.40,20.0,31.45,4.0,12.61
9941,2019-12-20,329546,230,37770290,115.00,115.50,114.50,114.50,0.50,114.50,11.0,115.00,32.0,15.41
9941A,2019-12-20,13000,7,702100,54.00,54.10,54.00,54.10,0.00,53.90,15.0,54.10,2.0,0.00
9942,2019-12-20,35044,32,2440680,69.50,69.70,69.50,69.60,0.10,69.60,7.0,69.80,10.0,13.65
9943,2019-12-20,108200,93,7717078,71.50,71.50,71.20,71.30,0.20,71.20,2.0,71.30,2.0,12.17
9944,2019-12-20,29000,15,498700,17.30,17.30,17.15,17.25,0.00,17.20,4.0,17.25,2.0,0.00
9945,2019-12-20,10178355,3201,451308880,44.35,45.20,43.90,43.90,0.40,43.90,76.0,44.30,149.0,4.05
9946,2019-12-20,1594359,700,42459244,26.25,27.00,26.25,26.80,0.55,26.75,3.0,26.80,12.0,5.45
9955,2019-12-20,183120,100,3296310,18.10,18.20,17.90,18.05,0.00,18.00,9.0,18.15,6.0,112.81
9958,2019-12-20,1812862,1102,132837396,73.00,73.90,72.40,73.20,0.50,73.10,15.0,73.20,8.0,25.33

# 接下來就來一步步分析

首先呢，必須知道網址在哪裡，把網址上的資料存成csv檔

In [1]:
import requests
response = requests.get('http://www.twse.com.tw/exchangeReport/MI_INDEX?response=csv&date=20180309&type=ALLBUT0999&_=1520785530355')

# 試試看csv能不能直接存到 pandas 的 dataframe 中

發現有點小問題，由於pandas發現每row的長度不一樣，造成pandas無法存取

In [2]:
lines = response.text.split('\n')
lines[100]

'"造紙類報酬指數","326.27","+","0.94","0.29","",\r'

# 用For 迴圈篩選每一行

In [3]:

# 將 newlines 檢查是否有 17個欄位，例如：
'  "你",   "好",   "嗎",'
# 我們想要把它被切開並計算切開後字串被分割成幾個元素，用眼睛看，我們知道上述這行有3個欄位
# 我們不能直接用「,」來切開字串，因為我們假如考慮以下狀況：
'  "你",   ",好,",   "嗎",'
# 上述狀況，正確來說，我們應該要切開三個值（以被「"」包起來和「,」作為判斷），分別為「你」、「,好,」、「嗎」
# 假如直接用「,」分開的話，反而會切成「你」「"」「好」「,」「嗎」，總共五段
# 所以我們發現以「",」來切開字串，就能準確的將上述字串切開，所以在切割時，我們用「",」將每一行切開，並看切成幾個
# 切成17個的話，我們就保留

newlines = []

for line in lines:
    
    # 用「",」切開每一行，看是否被切成17個
    if len(line.split('",')) == 17:
        
        # 將 line 加到新的 newlines 中
        newlines.append(line)

print('原本的行數（lines）')
print(len(lines))
print('刪除不需要的行數後，變少了(newlines)')
print(len(newlines))

原本的行數（lines）
1217
刪除不需要的行數後，變少了(newlines)
1046

# 終於做出dataframe 了！

In [47]:
# 先創造一個字元c(換行符)
c = '\n'
# 利用此字元c，將每一行給連在一起
s = c.join(newlines)
# 將 s 裡面的 等號 刪除
s = s.replace('=', '')

# 將 s 用StringIO變成檔案，並用 pd.read_csv 來讀取檔案
df = pd.read_csv(StringIO(s))

# 顯示前五個
df.head()

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比,Unnamed: 16
0,0050,元大台灣50,"2,832,064",986,"234,740,002",82.90,83.00,82.70,82.85,+,0.10,82.85,131,82.90,18,0.00,NaN
1,0051,元大中型100,"18,000",7,"571,930",31.79,31.79,31.70,31.70,+,0.11,31.72,50,31.80,1,0.00,NaN
2,0052,富邦科技,"3,000",2,"171,300",57.10,57.10,57.10,57.10,,0.00,57.00,1,57.30,1,0.00,NaN
3,0053,元大電子,"38,282",7,"1,399,294",36.56,36.57,36.55,36.55,+,0.12,36.49,50,36.83,8,0.00,NaN
4,0054,元大台商50,0,0,0,--,--,--,--,,0.00,23.96,50,24.18,9,0.00,NaN

# 用 pandas 中的好用 function，將資料作整理！

上面的資料有點怪怪的，例如：
1. 它們顯示起來像是數字，但其實還是字串！
2. 某些數字中間有','，很煩！
3. 有幾行是來亂的：Unnamed: 16，啥玩意兒？

In [48]:
# 將所有df中的元素都變成字串，並將字串中的逗號「,」刪除
df = df.astype(str)
df = df.applymap(lambda s: s.replace(',', ''))

# 將 df 證券代號變成 index
df = df.set_index('證券代號')

# 將 df 中的元素從字串變成數字
df = df.apply(lambda s: pd.to_numeric(s, errors='coerce'))

# 要刪除沒有用的columns
# 其中 axis=1 為是說每條columns去檢查有沒有NaN
# how='all' 是說假如全部都是 NaN 則刪除該 column
# （原本的方法） df = df[df.columns[df.isnull().sum() != len(df)]]

df.dropna(axis=1, how='all', inplace=True)

df.head()

,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比
證券代號,,,,,,,,,,,,,
0050,2832064,986,234740002,82.90,83.00,82.70,82.85,0.10,82.85,131,82.90,18,0.0
0051,18000,7,571930,31.79,31.79,31.70,31.70,0.11,31.72,50,31.80,1,0.0
0052,3000,2,171300,57.10,57.10,57.10,57.10,0.00,57.00,1,57.30,1,0.0
0053,38282,7,1399294,36.56,36.57,36.55,36.55,0.12,36.49,50,36.83,8,0.0
0054,0,0,0,NaN,NaN,NaN,NaN,0.00,23.96,50,24.18,9,0.0

# 計算長紅棒

In [52]:
# 紅棒的長度，1代表不漲不跌，小於一代表收盤價比較小（股價跌），大於一代表收盤價比較大（股票漲）
close_open = df['收盤價'] / df['開盤價']
close_open.head(5)

證券代號
0050    0.999397
0051    0.997169
0052    1.000000
0053    0.999726
0054         NaN
dtype: float64

In [50]:
# 選出 收盤 比 開盤 還要高 5% 以上的股票
df[close_open > 1.05]

,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比
證券代號,,,,,,,,,,,,,
1418,12875,19,122285,9.28,9.93,9.28,9.87,0.03,9.51,1,10.00,2,0.00
2351,8440209,5206,720426520,80.80,87.70,80.70,87.70,7.90,87.70,77,NaN,0,21.29
2364,324265,114,846146,2.47,2.69,2.47,2.69,0.24,2.69,279,NaN,0,0.00
2509,2107044,903,50794532,23.00,25.40,22.80,25.00,1.80,24.90,21,25.00,43,0.00
3024,1779477,465,12197815,6.50,7.00,6.50,6.90,0.40,6.90,7,6.92,10,2.35
3189,13233193,5936,717789315,52.00,55.00,52.00,55.00,5.00,55.00,4405,NaN,0,50.00
6168,7982914,3320,170744825,20.70,21.95,20.70,21.85,1.15,21.75,5,21.85,9,20.42
8478,473003,386,30676398,61.50,66.70,60.90,65.60,4.80,65.50,2,65.60,40,19.07

# 存成CSV檔

In [56]:
# 將檔案存檔成csv（可以用excel打開）
# 用dataframe存檔，避免中文亂碼，記得要將encoding='utf_8_sig'喔！
df.to_csv('daily_price.csv', encoding='utf_8_sig')

# 讀檔
# 我們指名 index 為 證券代號
df = pd.read_csv('daily_price.csv', index_col=['證券代號'])

print('index為證券代號')
print('     v')
df.head()

index為證券代號
     v

,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比
證券代號,,,,,,,,,,,,,
0050,2832064,986,234740002,82.90,83.00,82.70,82.85,0.10,82.85,131,82.90,18,0.0
0051,18000,7,571930,31.79,31.79,31.70,31.70,0.11,31.72,50,31.80,1,0.0
0052,3000,2,171300,57.10,57.10,57.10,57.10,0.00,57.00,1,57.30,1,0.0
0053,38282,7,1399294,36.56,36.57,36.55,36.55,0.12,36.49,50,36.83,8,0.0
0054,0,0,0,NaN,NaN,NaN,NaN,0.00,23.96,50,24.18,9,0.0

# 存到 sqlite3 中

In [55]:
# 將 sql 通道打開
import sqlite3
conn = sqlite3.connect('test.sqlite3')

# 存檔 if_exists='replace' 是說假如sql中已經有 daily_price 這個 dataframe，則取代它
df.to_sql('daily_price', conn, if_exists='replace')

# 讀檔
df = pd.read_sql('select * from daily_price', conn, index_col=['證券代號'])
df.head()

,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比
證券代號,,,,,,,,,,,,,
0050,2832064,986,234740002,82.90,83.00,82.70,82.85,0.10,82.85,131,82.90,18,0.0
0051,18000,7,571930,31.79,31.79,31.70,31.70,0.11,31.72,50,31.80,1,0.0
0052,3000,2,171300,57.10,57.10,57.10,57.10,0.00,57.00,1,57.30,1,0.0
0053,38282,7,1399294,36.56,36.57,36.55,36.55,0.12,36.49,50,36.83,8,0.0
0055,63240,16,1051359,16.70,16.70,16.60,16.70,0.09,16.60,57,16.70,3,0.0

# 總結一下剛剛教的function：
1. pd.to_numeric(series) <--- 將series轉型成數字。
2. df.apply(func) <--- 將 dataframe 中的每一條 series 都用 func 處理一番。
3. lambda x: y <--- 一個無名氏function，讀入 x 吐出 y。
4. df.set_index(col_name) <--- 將某個column直接變成index
5. df[x] <--- 選取 df 中的 x ，假如 x 是 a (list or series) of (string or boolean)，
假如為 boolean，則長度得跟columns的數目一樣常喔！

In [6]:
crawl_price(datetime.datetime(2019,12,21))